<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/css/bootstrap.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An!meHaven</title>
    <link rel="icon" type="image/x-icon" href="https://store-images.s-microsoft.com/image/apps.26154.14336328626441452.f9e58b4c-0865-4311-8731-eeeec50b41da.b6269257-020f-4231-abe0-ebee90692ba0?h=210">
</head>
<body>
    <%- include('./partials/components/nav.ejs') %>
    <div class="container text-center">
        <h3>About Us </h3>
        <img src="https://store-images.s-microsoft.com/image/apps.26154.14336328626441452.f9e58b4c-0865-4311-8731-eeeec50b41da.b6269257-020f-4231-abe0-ebee90692ba0?h=210" class="card-img" alt="logo" style=" height: 150px; width:auto ;">
    
    <div>
        <div class="card">
            
          
            <div class="card-body" style="margin-top: 20px;">
            
              <p class="card-text" style="margin-top: 20px;">(Under Construction) Welcome to An!meHaven, your ultimate sanctuary for anime lovers! Dive into a vast library of the latest series, classic favorites, and hidden gems, all curated just for you. With seamless streaming, personalized recommendations, and a vibrant community of fellow fans, An!meHaven is the perfect place to indulge your passion for anime. Join us and discover your next obsession today!</p><br>
              <h6> Made By TDC6 And TDC9 </h6><br>
              <p> This Website Is Made As A Project</p>
              <a href="https://github.com/tdc9/AnimeBlogWebsite" class="btn btn-primary">Github Repo</a>
            </div>
          </div>
    </div>     
          

    <%- include('./partials/js/bootstrap.ejs') %>
</body>
</html>