<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://store-images.s-microsoft.com/image/apps.26154.14336328626441452.f9e58b4c-0865-4311-8731-eeeec50b41da.b6269257-020f-4231-abe0-ebee90692ba0?h=210" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      An!meHaven
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:neural.ionn@gmail.com">Contact Us</a>
        </li>
        <% if (locals.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/blog/create">Create Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= locals.user.fullName %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/blogs">My Blogs</a></li>
                <li><a class="dropdown-item" href="/user/logout">Log Out</a></li>
                
              </ul>
            </li>
            
        <% } else { %>
           <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            
        <% } %>
           
          </ul>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container text-center">
<% if (locals.message) { %>
 <div class="alert alert-success my-4"><%= message %></div>
<% } %>
<% if (locals.error) { %>
  <div class="alert alert-danger my-4"><%= error %></div>
 <% } %>
</div>

